@using RentH2.Domain.Models
@model IEnumerable<MotorcycleModel>


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Relatório de Motos</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-end">
				<a asp-action="MotorcycleCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Cadastrar Moto</a>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>Código</th>
					<th>Tipo</th>
					<th>Placa</th>
					<th>Localização</th>
					<th>Status</th>
					<th>Ações</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<form id="deleteForm" asp-action="MotorcycleDelete">
	<input type="hidden" id="Id" name="Id" value="empty" />
</form>

@section Scripts {
	<script src="~/js/motorcycle.js"></script>
}