@model MotorcycleDto

<form asp-action="MotorcycleCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Cadastro de Moto</h1>
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Tipo</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Numero da Placa</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NumberPlate" class="form-control" />
                <span asp-validation-for="NumberPlate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Localização</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Status</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Status" class="form-select w-50" asp-items="@ViewBag.Status">
                    <option disabled selected>--Selecione um Status--</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="MotorcycleIndex" class="btn-primary btn form-control ">Retornar</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Cadastrar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
