@{
	ViewData["Title"] = "Nossa História";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>
	RentH2: A Revolução das Motos Compartilhadas
</h4>

<p>
	Na agitada metrópole, onde o trânsito é implacável e o tempo é precioso, surge a RentH2 – uma empresa de aluguel de motos que vai muito além do convencional. Nós não apenas oferecemos veículos; somos a ponte entre a mobilidade e a economia colaborativa.
</p>
<br />
<h4>
	Como Funciona?
</h4>

<p>
	Imagine ter uma moto à sua disposição sempre que precisar. Na RentH2, tornamos isso possível. Nossas motos estão estrategicamente distribuídas pela cidade, prontas para serem alugadas por qualquer pessoa com um smartphone e sede de aventura. Basta baixar nosso aplicativo, localizar a moto mais próxima e desbloqueá-la com um toque.
</p>
<br />
<h4>
	Ganhe Dinheiro Extra
</h4>
<p>
	Mas aqui está o diferencial: não somos apenas uma locadora. Somos uma comunidade. Se você possui uma moto e deseja ganhar dinheiro extra, torne-se um parceiro da RentH2. Cadastre sua moto em nosso sistema e compartilhe-a com outros usuários. Quando alguém aluga sua moto, você recebe uma parte do valor. É uma maneira inteligente de monetizar seu ativo e ajudar a população a se locomover de forma mais eficiente.
</p>
<br />
<h4>
	Por que Escolher a RentH2?
</h4>
<ul>
	<li>Sustentabilidade: Reduzimos o tráfego e as emissões de carbono ao incentivar o compartilhamento de motos.</li>
	<li>Economia: Economize tempo e dinheiro, evitando congestionamentos e estacionamentos caros.</li>
	<li>Flexibilidade: Escolha entre diferentes modelos de motos para atender às suas necessidades.</li>
	<li>Comunidade: Faça parte de uma rede de apaixonados por duas rodas.</li>
</ul>
<br />
<p class="fst-italic">"Na RentH2, não alugamos apenas motos; alugamos liberdade, conveniência e oportunidades. Junte-se a nós e faça parte dessa revolução sobre duas rodas!"</p>