@{
	ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="text-center h-100">
	<div class="row">
		<div class="col-6 text-end align-self-center">
			<h1 class="display-4">Bem vindos a Rent H2</h1>
			<a asp-controller="Auth" asp-action="RegisterUser">Junte-se a nós!</a>
		</div>
		<div class="col-6 text-end">
			<img src="/images/home3.jpeg" style="max-width: 80%;" />
		</div>
	</div> 
</div>
