@{
	ViewData["Title"] = "Política de Privacidade da RentH2";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>
	Na RentH2, levamos a privacidade dos nossos usuários a sério. Esta política descreve como coletamos, usamos e protegemos suas informações pessoais. Ao usar nossos serviços, você concorda com os termos desta política.
</p>
<br />
<h4>Coleta de Dados</h4>
<p>
	<ul>
		<li>Coletamos informações necessárias para operar nosso serviço, como nome, endereço de e-mail e detalhes de pagamento.</li>
		<li>Não compartilhamos suas informações com terceiros sem o seu consentimento.</li>
	</ul>
</p>
<br />
<h4>Uso de Dados</h4>
<p>
	<ul>
		<li>Usamos suas informações para fornecer e melhorar nossos serviços.</li>
		<li>Personalizamos sua experiência com base em suas preferências.</li>
		<li>Não vendemos suas informações a terceiros.</li>
	</ul>
</p>
<br />
<h4>Segurança e Criptografia</h4>
<p>
	<ul>
		<li>Todas as informações que você nos fornece são criptografadas.</li>
		<li>Utilizamos práticas de segurança rigorosas para proteger seus dados.</li>
	</ul>
</p>
<br />
<h4>
	Cookies e Rastreamento
</h4>
<p>
	<ul>
		<li>
			Usamos cookies para melhorar a funcionalidade do nosso site.
		</li>
		<li>
			Você pode optar por não receber cookies, mas isso pode afetar sua experiência.
		</li>
	</ul>
</p>
<br />
<h4>
	Acesso e Controle
</h4>
<p>
	<ul>
		<li>
			Você pode acessar, corrigir ou excluir suas informações a qualquer momento.
		</li>
		<li>
			Entre em contato conosco se tiver alguma dúvida sobre suas informações.
		</li>
	</ul>
</p>

<p class="fst-italic">"Na RentH2, estamos comprometidos em manter suas informações seguras e confidenciais. Seus dados são importantes para nós, e trabalhamos constantemente para protegê-los."</p>

