@using RentH2.Web.Utility
@model ApplicationUserDto

<form>
<div class="text-center h-100">
	<div class="row">
			@if (Model.DriverLicenseClass.Contains(DriverLicenseClasses.ClassA))
			{
			<div class="col-4 align-self-center">
					<h6 class="display-5">Escolha a melhor data para iniciar!</h6>
					<div class="pt-5" style="padding-left:70px;" id="datepicker"></div>
				<br /><br />
				<a id="btnPlan" class="btn btn-outline-primary">Vamos escolher o plano?</a>
				</div>
			}
			else
			{
			<div class="col-4 text-start align-self-center">
				<h4>Com certeza!</h4> 
				<br />
					<p>A segurança é nossa prioridade na RentH2. Se você ainda não possui a <b>habilitação Classe A</b> para conduzir motocicletas, recomendamos que aguarde até obter a autorização adequada. </p>
					<p>Assim que você conseguir a sua <b>carteira de motorista Classe A</b>, ficaremos felizes em tê-lo de volta como parte da nossa comunidade de motociclistas.</p>
				<p>Cuide-se e continue se preparando para essa nova aventura sobre duas rodas!</p>
			</div>
			}
		<div class="col-8 text-start">
			<img src="/images/home3.jpeg" style="max-width: 80%;" />
		</div>
	</div>
</div>
</form>
@section Scripts {
	<script src="~/js/rent.js"></script>
}